.hidden {
    opacity: 0;
}

/*Les feuilles du home*/
.feuille-link.hidden {
    opacity: 0;
    transform: translateX(-100%);
}

.feuille-link.hidden.feuillelinkright {
    transform: translateX(50%);
}

.feuille-link {
    opacity: 1;
    width: fit-content;
    transform: translateX(0);
    transition: all .5s ease-in-out;
}

.feuilles {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
}

.feuilles .feuillelinkright{
    display: flex;
    align-self: flex-end;
    flex-direction: row-reverse;
    margin-right: 5%;
}
.feuilles .feuillelinkleft{
    align-self: flex-start;
    flex-direction: row;
    margin-left: 5%;
}

.feuilles .feuillelinkright a:hover,
.feuilles .feuillelinkleft a:hover {
    background-color: rgba(32, 145, 75, 0.753);
}

.feuilles .feuillelinkright a,
.feuilles .feuillelinkleft a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius:60px 2px 60px 10px ;
    text-decoration:none;
    color:rgb(178, 240, 208);
    text-shadow: 1px 1px 1px;
    background-color: rgba(26, 116, 60, 0.753);
    font-family: 'Shadows Into Light Two', cursive;
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
    padding: 20px 80px;
}

div.feuilles .feuillelinkleft a{
    flex-direction: row-reverse;
}